<nav class="master-navigation" role="navigation">
    <div class="navigation-picasso js-navigation-picasso">
        <div class="d-flex justify-center items-center gap-x-6">
            {% for theme in site.data.yml.masters/master-navigation.picasso-data.themes %}
            <button class="picasso-item js-picasso-item-select" data-theme="{{ theme.id }}" style="background-color: {{ theme.palette.background-color }};">
                <h6 class="meta-style">{{ theme.name }}</h6>
                <div class="d-flex flex-nowrap justify-center items-center gap-x-1">
                    <div class="meta-swatch" style="background-color: {{ theme.palette.link-color }};"></div>
                    <div class="meta-swatch" style="background-color: {{ theme.palette.border-color }};"></div>
                    <div class="meta-swatch" style="background-color: {{ theme.palette.background-color }};"></div>
                    <div class="meta-swatch" style="background-color: {{ theme.palette.text-color }};"></div>
                </div>
            </button>
            {% endfor %}        
        </div>
    </div>
    <div class="navigation-navbar">
        <div class="c-md">
            <div class="d-flex justify-between">
                <a class="navbar-logo" href="/">
                    <div class="logo-ring"></div>
                    <div class="logo-inner"></div>
                </a>
                <div class="d-inline-flex items-center gap-x-6">
                    <div class="d-flex items-center justify-between gap-x-6">
                        {% for link in site.data.yml.masters/master-navigation.navbar-data.links %}
                        <a class="navbar-item" href="{{ link.url }}">{{ link.title }}</a>
                        {% endfor %}
                    </div>
                    <div class="d-flex items-center">
                        <button class="navbar-picasso js-navbar-picasso-toggle">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M0 .5A.5.5 0 0 1 .5 0h5a.5.5 0 0 1 .5.5v5.277l4.147-4.131a.5.5 0 0 1 .707 0l3.535 3.536a.5.5 0 0 1 0 .708L10.261 10H15.5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-.5.5H3a2.99 2.99 0 0 1-2.121-.879A2.99 2.99 0 0 1 0 13.044m6-.21 7.328-7.3-2.829-2.828L6 7.188v5.647zM4.5 13a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0zM15 15v-4H9.258l-4.015 4H15zM0 .5v12.495V.5z"/>
                                <path d="M0 12.995V13a3.07 3.07 0 0 0 0-.005z"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>