<nav class="nav-master" role="navigation">
    <div class="c-md">
        <div class="d-flex justify-between">
            <a class="nav-logo" href="/">
                <div class="logo-ring"></div>
                <div class="logo-inner"></div>
            </a>
            <div class="d-inline-flex items-center gap-x-3">
                {% for link in site.data.yml.masters/nav-master %}
                <a class="nav-item" href="{{ link.url }}">{{ link.title }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</nav>