---
layout: default
---
<div class="surface-scope">
    {% include masters/master-navigation.html %}

    <div class="surface-content m-t-30">
        <header class="collections-project-header">
            <div class="c-ml">
                <div class="project-block">
                    <div class="project-meta-container">
                        <time class="meta-date">{{ page.date | date: "%b %d, %Y" }}</time>
                        <h1 class="meta-headline">{{ page.title | escape }}</h1>
                    </div>
                </div>
                <div class="project-block">
                    <div class="project-meta-container">
                        <div class="entry">
                            <div class="meta-content">
                                {{ page.description | markdownify }}
                            </div>
                        </div>
                    </div>
                    <div class="project-meta-container">
                        <div class="header-additions">
                            <dl class="description-block">
                                <dt class="meta-term">Category</dt>
                                <dd class="meta-details">{{ page.categories }}</dd>
                            </dl>
                            <dl class="description-block">
                                <dt class="meta-term">Discipline</dt>
                                <dd class="meta-details">{{ page.discipline }}</dd>
                            </dl>                            
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>

    <div class="collections-project-showcase">
        <div class="entry">
            {{ content }}
        </div>
    </div>

    {% include masters/master-footer.html %}
</div>