---
layout: default
---
<div class="scope-surface">
    {% include masters/site-navigation.html %}

    <div class="surface-content">
        <div class="container-md">
            <header class="mb-lg-3 pb-lg-1 border-b-1 border-solid border-gray-200">
                <div class="d-inline-flex flex-row flex-nowrap">
                    <h1 class="text-sm font-interface weight-500 leading-1 text-gray-600 text-uppercase">
                        Collections
                    </h1>                                     
                </div>
            </header>
            <div class="mb-lg-3">
                {%- assign collections_entries = site.posts | where:"type", "projects" -%}
                {%- if collections_entries.size > 0 -%}
                    {%- assign sort_by_year = collections_entries | group_by_exp: 'post', 'post.date | date: "%Y"' -%}
                    <div class="d-grid grid-cols-1 grid-md-cols-2 gap-1">
                    {%- for year in sort_by_year -%}
                    {%- for entry in year.items -%}
                        <a href="{{ entry.url | relative_url }}" class="link d-grid grid-cols-1 grid-rows-2 gap-y-1 p-sm-3 border-1 border-solid border-gray-200">
                            <div class="col-span-1">
                                <h3 class="text-heading-6 font-interface weight-600 leading-1 width-limit">{{ entry.headline }}</h3>
                                <div class="d-inline-flex flex-row flex-nowrap align-items-center">
                                    <time class="d-block text-sm font-interface weight-500 leading-1 text-gray-600">{{ entry.date | date: "%b %d, %Y" }}</time>     
                                </div>
                            </div>
                            <div class="col-span-1 d-flex flex-row flex-nowrap justify-content-space-between align-items-flex-end">
                                <span class="text-sm font-interface weight-400 leading-1 text-gray-600">{{ entry.categories | first }}</span>
                                <p class="text-sm font-interface leading-1">Details</p>
                            </div>                            
                        </a>
                    {%- endfor -%}    
                    {%- endfor -%}
                    </div>
                {%- else -%}
                <div>
                    <h4 class="text-heading-6 font-interface weight-600 leading-1">There's No Showcase?</h4>
                    <p class="text-sm font-interface weight-400 leading-1">
                        Relax. Posts are either being built or migrated.
                    </p>
                    <p class="text-sm font-interface weight-400 leading-1">
                        Or… I'm really just procrastinating.
                    </p>                    
                </div>                
                {%- endif -%}
            </div>          
        </div>
    </div>

    {% include masters/site-footer.html %}
</div>