---
layout: default
---
{%- assign sort_by_year = page.posts | group_by_exp: 'post', 'post.date | date: "%Y"' -%}
<div class="scope" role="document">
    {% include masters/master_navigation.html %}

    <div class="grow margin-y-30">
        <div class="container-md">
            <header class="border-b-1 border-neutral-200 margin-b-18 padding-b-6">
                <div class="flex align-items-center gap-x-2">
                    <h6 class="text-sm text-medium text-uppercase">{{ page.title }}</h6>
                    <h6 class="text-sm text-normal color-neutral-600">
                    {%- assign post_counter = 0 -%}
                    {%- if sort_by_year.size > 0 -%}
                        {%- for posts in sort_by_year -%}
                            {%- assign post_counter = post_counter | plus: 1 -%}
                        {%- endfor -%}
                    {%- if sort_by_year.size == 1 -%}
                        1 Post
                    {%- else -%}
                        {{ post_counter }} Posts
                    {%- endif -%}    
                    {%- else -%} 
                        No Posts
                    {%- endif -%}
                    </h6>
                </div>
            </header>

            <main class="flex flex-y gap-y-18">
                {%- for year in sort_by_year -%}
                <div class="grid grid-y-1 gap-y-12 sm:grid-y-2 sm:gap-x-6 padding-b-18 border-b-1 border-neutral-200 last:padding-b-0 last:border-b-0">
                    <div>
                        <h6 class="text-sm text-medium color-neutral-600">{{ year.name }}</h6>
                    </div>
                    <div class="flex flex-y gap-y-18">
                        {%- for post in year.items -%}
                        <div>
                            <div class="limit-width-85">
                                <a class="text-sm text-base text-bold color-primary-neutral-base hover:color-primary-neutral-base focus:color-primary-neutral-base" href="{{ post.url | relative_url }}">{{ post.title }}</a>
                            </div>
                            <div class="flex align-items-center gap-x-2">
                                <time class="text-sm text-medium color-neutral-600 block">{{ post.date | date: "%b %d, %Y" }}</time>
                                <div class="flex align-items-center gap-x-2 text-sm color-neutral-600 before:content-['―']">
                                {%- for category in post.categories -%}
                                    <a class="text-sm text-normal hover:color-primary-neutral-base-inverted focus:color-primary-neutral-base-inverted" href="{{ category | prepend: '/categories/' | downcase | relative_url }}">{{ category }}</a>
                                {%- endfor -%}
                                </div>
                            </div>
                        </div>
                        {%- endfor -%}
                    </div>
                </div>
                {%- endfor -%}
            </main>
        </div>
    </div>

    {% include masters/master_footer.html %}
</div>