---
layout: default
---
<div class="scope" role="document">
    {% include masters/master_navigation.html %}

    <div class="grow margin-y-30">
        <header>
            <div class="container-sm">
                <div class="margin-b-6">
                    <time class="text-sm text-normal text-medium color-neutral-600 block">{{ page.date | date: "%b %d, %Y" }}</time>
                    <h3 class="leading-2 limit-width-85">{{ page.title | escape }}</h3>
                    {%- if page.subtitle -%}
                    <h4 class="leading-2 text-normal color-neutral-600 limit-width-85">{{ page.subtitle | escape }}</h4>
                    {%- endif -%}
                </div>
                <div class="margin-b-6">
                    <div class="flex align-items-center gap-x-3">
                        <div class="flex align-items-center gap-x-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" class="fill-neutral-600">
                                <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
                            </svg>
                            <h6 class="text-sm text-medium color-neutral-600">
                                {%- assign words = content | number_of_words -%}    
                                {%- if words < 180 -%}
                                    Less Than A Minute Read
                                {%- elsif words < 360 -%}
                                    A Minute Read
                                {%- else -%}
                                {{ words | divided_by: 180 }} Minutes Read
                                {%- endif -%}
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="content">
            {{ content }}
            
            {%- contentblock content-footnotes -%}
        </div>
    </div>

    <div class="related-posts">
        <div class="padding-y-18">
            <div class="container-sm">
                <header class="border-b-1 border-neutral-300 margin-b-12 padding-b-6">
                    <h6 class="text-sm text-medium color-neutral-700 text-uppercase">Also In This Orbit</h6>
                </header>
                <div>
                {%- capture category -%}{{ page.categories | first }}{%- endcapture -%}
                {%- if site.categories[category].size > 1 %}
                    {%- for post in site.categories[category] limit: 4 -%}
                    {%- if post.title != page.title %}
                    <div class="margin-b-12 padding-b-12 border-b-1 border-neutral-300 last:border-b-0 last:margin-b-0 last:padding-b-0">
                        <div class="block">
                            <div class="limit-width-85">
                                <a class="text-sm text-base text-bold hover:color-primary-neutral-base focus:color-primary-neutral-base" href="{{ post.url | relative_url }}">{{ post.title }}</a>
                            </div>
                            <time class="text-sm text-medium color-neutral-700 block">{{ post.date | date: "%b %d, %Y" }}</time>
                        </div>
                    </div>
                    {%- endif %}
                    {%- endfor -%}
                {%- else -%}
                    <h6>Houston, We Have a Problem</h6>
                    <p class="text-sm color-neutral-700">It looks like nothing else is under this category.</p>
                {%- endif %}
                </div>
            </div>
        </div>
    </div>
    
    {% include masters/master_footer.html %}
</div>