---
layout: default
---
<div class="scope" role="document">
    {% include masters/master_navigation.html %}

    <div class="margin-t-30 margin-b-24">
        <div class="container-md">
            <div class="grid-templates projects-template m-b-12">
                <header class="template-area-header">
                    <div class="container-sm padding-x-0 max-width-624">
                        <div class="margin-b-6">
                            <time class="text-sm text-normal text-medium color-neutral-600 block">{{ page.date | date: "%b %d, %Y" }}</time>
                            <h3 class="leading-2 limit-width-85">{{ page.title | escape }}</h3>
                        </div>
                    </div>
                </header>
                <div class="content template-area-content margin-b-6">
                    <div class="container-sm padding-x-0 max-width-624">
                        {{ content }}
                    </div>
                </div>
                <div class="template-area-aside">
                    <div class="container-sm padding-x-0 max-width-624">
                        {%- ifhascontent custom-descriptors -%}
                            {%- contentblock custom-descriptors -%}
                        {%- endifhascontent -%}
                        {%- ifnothascontent custom-descriptors -%}
                            <div class="border-1 border-neutral-200 text-sm color-neutral-600">
                                <div class="padding-4">
                                    <div class="flex flex-y gap-y-2">
                                        <div class="flex gap-x-3">
                                            <h6 class="text-sm color-primary-neutral-base">Discipline</h6>
                                            {%- if page.discipline -%}
                                            <p>{{ page.discipline }}</p>
                                            {%- else -%}
                                            <p>Undefined</p>
                                            {%- endif -%}
                                        </div>
                                    </div>
                                </div>
                                <div class="border-t-1 border-neutral-200">
                                    <div class="padding-4">
                                        <div class="flex flex-y gap-y-2">
                                            <div class="flex gap-x-3">
                                                <h6 class="text-sm color-primary-neutral-base">
                                                {%- if page.categories.size == 1 -%}
                                                    Category
                                                {%- else-%}
                                                    Categories    
                                                {%- endif -%}
                                                </h6>
                                                <div class="flex align-items-center gap-x-2 text-sm color-neutral-600">
                                                    {%- for category in page.categories -%}
                                                    <a class="text-sm text-normal text-content-underline color-primary-neutral-base hover:color-primary-neutral-base focus:color-primary-neutral-base" href="{{ category | prepend: '/categories/' | downcase | relative_url }}">{{ category }}</a>
                                                    {%- endfor -%}
                                                </div>
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {%- endifnothascontent -%}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="flex flex-y grow js-showcase-view">
    {%- ifhascontent showcase-view-content -%}
        {%- contentblock showcase-view-content -%}
    {%- endifhascontent -%}
    {%- ifnothascontent showcase-view-content -%}
        <div class="flex flex-y justify-content-center align-items-center grow margin-y-24">
            <h6 class="color-gray-200">Nope, Sorry. Nothing</h6>
            <p class="text-sm color-gray-500">Makes you wonder why there's this area in the first place.</p>
        </div>
    {%- endifnothascontent -%}
    </div>

    {% include masters/master_footer.html %}
</div>