---
type Props = {
	mainClass?: string;
};

const { mainClass = "" } = Astro.props;
---

<div class="page-shell">
	<main class:list={[mainClass]}>
		<div class="page-main">
			<div class="page-container">
				<div class="page-stack">
					<slot />
				</div>
			</div>
		</div>
	</main>
</div>
