---
import DirectoryLayout from "../../components/layout/DirectoryLayout.astro";
import DefaultLayout from "../../layouts/DefaultLayout.astro";
import SiteFooter from "../../components/masters/SiteFooter.astro";
import TaxonomySummaryList from "../../components/taxonomy/TaxonomySummaryList.astro";
import { getAllContentEntries } from "../../utils/content-entries";
import { buildTagIndex, getTagHref } from "../../utils/tags";

const tags = buildTagIndex(await getAllContentEntries());
---

<DefaultLayout title="Tags" showBottomNavigation={false} seo={{ description: "Browse tags across articles, projects, and research." }}>
	<DirectoryLayout count={tags.length} pluralLabel="tags" singularLabel="tag" title="Tags">
		<section>
			<TaxonomySummaryList
				emptyDescription="There are currently no tags available."
				emptyTitle="No Tags Available"
				getHref={getTagHref}
				items={tags}
			/>
		</section>
	</DirectoryLayout>

	<SiteFooter />
</DefaultLayout>
