---
import DirectoryLayout from "../../components/layout/DirectoryLayout.astro";
import DefaultLayout from "../../layouts/DefaultLayout.astro";
import SiteFooter from "../../components/masters/SiteFooter.astro";
import TaxonomySummaryList from "../../components/taxonomy/TaxonomySummaryList.astro";
import { buildCategoryIndex, getCategoryHref } from "../../utils/categories";
import { getAllContentEntries } from "../../utils/content-entries";

const categories = buildCategoryIndex(await getAllContentEntries());
---

<DefaultLayout title="Categories" showBottomNavigation={false} seo={{ description: "Browse content categories across articles, projects, and research." }}>
	<DirectoryLayout count={categories.length} pluralLabel="categories" singularLabel="category" title="Categories">
		<section>
			<TaxonomySummaryList
				emptyDescription="There are currently no categories available."
				emptyTitle="No Categories Available"
				getHref={getCategoryHref}
				items={categories}
			/>
		</section>
	</DirectoryLayout>

	<SiteFooter />
</DefaultLayout>
