---
import { getTagHref } from "../../utils/tags";

type Props = {
	className?: string;
	size?: "base" | "sm";
	tags: string[];
};

const { tags, className = "", size = "sm" } = Astro.props;
const linkClassName = size === "base" ? "link-meta-base" : "link-meta-sm";
---

<div class:list={["collection-taxonomy", className]}>
	{
		tags.map((tag) => (
			<div class="flex items-center gap-x-3">
				<div class="size-2 bg-dynamic-neutral-950" />
				<a class={`${linkClassName} link-focus p-category`} href={getTagHref(tag)} rel="tag">
					{tag}
				</a>
			</div>
		))
	}
</div>
