%container {
    width: 100%;
    padding-left: rem(24px);
    padding-right: rem(24px);    
    margin-right: auto;
    margin-left: auto;
}

@each $name, $width in $grid-container-widths {
    .container-#{$name} {
        @extend %container;
        max-width: $width; 
    }
}