:root {
    --body-color: #212121;
    --body-bg: #ffffff;
    --color-link: #304ffe;
    --color-link-focus: #0d47a1;
    --color-monochrome-0: #000000;    
    --color-monochrome-200: #eeeeee;
    --color-monochrome-300: #e0e0e0;
    --color-monochrome-500: #9e9e9e;
    --color-monochrome-600: #757575;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Helvetica Now';
    font-style: normal;
    font-weight: 50 1000;
    font-display: swap;
    src:url("../fonts/HelveticaNowVar.woff2") format('woff2-variations');
}