@each $space in $spacing-amounts-sm {
    $space-sm-calculated: rem($space * $spacing-base);

    // sm margins
    .m-sm-#{$space} {
      margin: #{$space-sm-calculated};
    }

    .mx-sm-#{$space} {
      margin-left: #{$space-sm-calculated};
      margin-right: #{$space-sm-calculated};
    }

    .my-sm-#{$space} {
      margin-top: #{$space-sm-calculated};
      margin-bottom: #{$space-sm-calculated};
    }

    .mt-sm-#{$space} {
      margin-top: #{$space-sm-calculated};
    }    

    .mr-sm-#{$space} {
      margin-right: #{$space-sm-calculated};
    }

    .mb-sm-#{$space} {
      margin-bottom: #{$space-sm-calculated};
    }

    .ml-sm-#{$space} {
      margin-left: #{$space-sm-calculated};
    }

    // sm paddings
    .p-sm-#{$space} {
      padding: #{$space-sm-calculated};
    }

    .px-sm-#{$space} {
      padding-left: #{$space-sm-calculated};
      padding-right: #{$space-sm-calculated};
    }

    .py-sm-#{$space} {
      padding-top: #{$space-sm-calculated};
      padding-bottom: #{$space-sm-calculated};
    }

    .pt-sm-#{$space} {
      padding-top: #{$space-sm-calculated};
    }    

    .pr-sm-#{$space} {
      padding-right: #{$space-sm-calculated};
    }

    .pb-sm-#{$space} {
      padding-bottom: #{$space-sm-calculated};
    }

    .pl-sm-#{$space} {
      padding-left: #{$space-sm-calculated};
    }    
}

@each $space in $spacing-amounts-lg {
  $space-sm-calculated: rem($space * $spacing-lg);

  // sm margins
  .m-lg-#{$space} {
    margin: #{$space-sm-calculated};
  }

  .mx-lg-#{$space} {
    margin-left: #{$space-sm-calculated};
    margin-right: #{$space-sm-calculated};
  }

  .my-lg-#{$space} {
    margin-top: #{$space-sm-calculated};
    margin-bottom: #{$space-sm-calculated};
  }

  .mt-lg-#{$space} {
    margin-top: #{$space-sm-calculated};
  }    

  .mr-lg-#{$space} {
    margin-right: #{$space-sm-calculated};
  }

  .mb-lg-#{$space} {
    margin-bottom: #{$space-sm-calculated};
  }

  .ml-lg-#{$space} {
    margin-left: #{$space-sm-calculated};
  }

  // sm paddings
  .p-lg-#{$space} {
    padding: #{$space-sm-calculated};
  }

  .px-lg-#{$space} {
    padding-left: #{$space-sm-calculated};
    padding-right: #{$space-sm-calculated};
  }

  .py-lg-#{$space} {
    padding-top: #{$space-sm-calculated};
    padding-bottom: #{$space-sm-calculated};
  }

  .pt-lg-#{$space} {
    padding-top: #{$space-sm-calculated};
  }    

  .pr-lg-#{$space} {
    padding-right: #{$space-sm-calculated};
  }

  .pb-lg-#{$space} {
    padding-bottom: #{$space-sm-calculated};
  }

  .pl-lg-#{$space} {
    padding-left: #{$space-sm-calculated};
  }    
}

// auto is exclusive horizontally.
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mr-auto {
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}