.surface-scope {
    display: grid;
    grid-auto-columns: 1fr; 
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.font-interface {
    font-family: "Roboto", "Franklin Gothic Medium", Tahoma, sans-serif;
}

.font-content {
    font-family: "Helvetica Now", Helvetica, Arial, sans-serif;
}

.font-mono {
    font-family: monospace;
}

.text-italic {
    font-style: italic;
}

.text-normal {
    font-style: normal;
}

.text-300 {
    font-weight: 300;
}

.text-400 {
    font-weight: 400;
}

.text-500 {
    font-weight: 500;
}

.text-600 {
    font-weight: 600;
}

.tracking-tight {
    letter-spacing: -0.025em;
}

.tracking-wide {
    letter-spacing: 0.025em;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-leading-1 {
    line-height: 1.5rem;
}

.text-leading-2 {
    line-height: 3rem;
}

.text-leading-3 {
    line-height: 4.5rem;
}

.text-heading-1 {
    font-size: 3rem;
}

.text-heading-2 {
    font-size: 2.5rem;
}

.text-heading-3 {
    font-size: 2rem;
}

.text-heading-4 {
    font-size: 1.75rem;
}

.text-heading-5 {
    font-size: 1.5rem;
}

.text-heading-6 {
    font-size: 1.25rem;
}

.text-lg {
    font-size: 1.125rem;
}

.text-md {
    font-size: 1rem;
}

.text-sm {
    font-size: .875rem;
}

.c-sm, .c-md, .c-fl {
    width: 100%;
    padding: 0 1.5rem;
    margin-right: auto;
    margin-left: auto;
}

.c-sm {
    max-width: 672px;
}

.c-md {
    max-width: 1152px;
}

.c-fl {
    max-width: 100%;
}

.rw {
    display: flex;
    flex-wrap: wrap;
    
    & > * {
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
    }
}

.cl {
    flex: 1 0 0%;
}

.cl-auto {
    flex: 0 0 auto;
    width: auto;
}

.cl-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
}

.cl-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
}

.cl-3 {
    flex: 0 0 auto;
    width: 25%;
}

.cl-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}

.cl-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
}

.cl-6 {
    flex: 0 0 auto;
    width: 50%;
}

.cl-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
}

.cl-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
}

.cl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  
.cl-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
}
  
.cl-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
}
  
.cl-12 {
    flex: 0 0 auto;
    width: 100%;
}

@media (min-width: 768px) {
    .cl-md-auto {
        flex: 0 0 auto;
        width: auto;
    }
  
    .cl-md-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }
  
    .cl-md-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }
  
    .cl-md-3 {
        flex: 0 0 auto;
        width: 25%;
    }
  
    .cl-md-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
  
    .cl-md-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }
  
    .cl-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }
  
    .cl-md-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }
  
    .cl-md-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }
  
    .cl-md-9 {
        flex: 0 0 auto;
        width: 75%;
    }
  
    .cl-md-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }
  
    .cl-md-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }
  
    .cl-md-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}
  
@media (min-width: 992px) {
    .cl-lg-auto {
        flex: 0 0 auto;
        width: auto;
    }
  
    .cl-lg-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }
  
    .cl-lg-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }
  
    .cl-lg-3 {
        flex: 0 0 auto;
        width: 25%;
    }
  
    .cl-lg-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
  
    .cl-lg-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }
  
    .cl-lg-6 {
        flex: 0 0 auto;
        width: 50%;
    }
  
    .cl-lg-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }
  
    .cl-lg-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }
  
    .cl-lg-9 {
        flex: 0 0 auto;
        width: 75%;
    }
  
    .cl-lg-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }
  
    .cl-lg-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }
  
    .cl-lg-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}

.d-inline {
    display: inline;
}

.d-block {
    display: block;
}

.d-inline-block {
    display: inline-block;
}

.d-flex {
    display: flex;
}

.d-inline-flex {
    display: inline-flex;
}

.d-grid {
    display: grid;
}

.d-inline-grid {
    display: inline-grid;
}

.decoration-slice {
    box-decoration-break: slice;
}

.decoration-clone {
    box-decoration-break: clone;
}

.static {
    position: static;
}

.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}
.relative {
    position: relative;
}

.sticky {
    position: sticky;
}

.flex-rw {
    flex-direction: row;
}

.flex-rw-reverse {
    flex-direction: row-reverse;
}

.flex-cl {
    flex-direction: column;
}

.flex-cl-reverse {
    flex-direction: column-reverse;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.flex-1 {
    flex: 1 1 0%;
}

.flex-auto {
    flex: 1 1 auto;
}

.flex-initial {
    flex: 0 1 auto;
}

.flex-grow-0 {
    flex-grow: 0;
}

.flex-grow {
    flex-grow: 1;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.flex-shrink {
    flex-shrink: 1;
}

.g-cl-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.g-cl-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.g-cl-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.g-cl-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.g-cl-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
}

.g-cl-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
}

.g-cl-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
}

.g-cl-8 {
    grid-template-columns: repeat(8, minmax(0, 1fr));
}

.g-cl-9 {
    grid-template-columns: repeat(9, minmax(0, 1fr));
}

.g-cl-10 {
    grid-template-columns: repeat(10, minmax(0, 1fr));
}

.g-cl-11 {
    grid-template-columns: repeat(11, minmax(0, 1fr));
}

.g-cl-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
}

@media (min-width: 768px) {
    .g-cl-md-1 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    
    .g-cl-md-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    
    .g-cl-md-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    
    .g-cl-md-4 {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    
    .g-cl-md-5 {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }
    
    .g-cl-md-6 {
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }
    
    .g-cl-md-7 {
        grid-template-columns: repeat(7, minmax(0, 1fr));
    }
    
    .g-cl-md-8 {
        grid-template-columns: repeat(8, minmax(0, 1fr));
    }
    
    .g-cl-md-9 {
        grid-template-columns: repeat(9, minmax(0, 1fr));
    }
    
    .g-cl-md-10 {
        grid-template-columns: repeat(10, minmax(0, 1fr));
    }
    
    .g-cl-md-11 {
        grid-template-columns: repeat(11, minmax(0, 1fr));
    }
    
    .g-cl-md-12 {
        grid-template-columns: repeat(12, minmax(0, 1fr));
    }    
}

@media (min-width: 992px) {
    .g-cl-lg-1 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    
    .g-cl-lg-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    
    .g-cl-lg-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    
    .g-cl-lg-4 {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    
    .g-cl-lg-5 {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }
    
    .g-cl-lg-6 {
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }
    
    .g-cl-lg-7 {
        grid-template-columns: repeat(7, minmax(0, 1fr));
    }
    
    .g-cl-lg-8 {
        grid-template-columns: repeat(8, minmax(0, 1fr));
    }
    
    .g-cl-lg-9 {
        grid-template-columns: repeat(9, minmax(0, 1fr));
    }
    
    .g-cl-lg-10 {
        grid-template-columns: repeat(10, minmax(0, 1fr));
    }
    
    .g-cl-lg-11 {
        grid-template-columns: repeat(11, minmax(0, 1fr));
    }
    
    .g-cl-lg-12 {
        grid-template-columns: repeat(12, minmax(0, 1fr));
    }    
}

.g-cl-auto {
    grid-column: auto;
}

.g-cl-span-1 {
    grid-column: span 1 / span 1;
}

.g-cl-span-2 {
    grid-column: span 2 / span 2;
}

.g-cl-span-3 {
    grid-column: span 3 / span 3;
}

.g-cl-span-4 {
    grid-column: span 4 / span 4;
}

.g-cl-span-5 {
    grid-column: span 5 / span 5;
}

.g-cl-span-6 {
    grid-column: span 6 / span 6;
}

.g-cl-span-7 {
    grid-column: span 7 / span 7;
}

.g-cl-span-8 {
    grid-column: span 8 / span 8;
}

.g-cl-span-9 {
    grid-column: span 9 / span 9;
}

.g-cl-span-10 {
    grid-column: span 10 / span 10;
}

.g-cl-span-11 {
    grid-column: span 11 / span 11;
}

.g-cl-span-12 {
    grid-column: span 12 / span 12;
}

.g-cl-span-full {
    grid-column: 1 / -1;
}

.g-cl-start-1 {
    grid-column-start: 1;
}

.g-cl-start-2 {
    grid-column-start: 2;
}

.g-cl-start-3 {
    grid-column-start: 3;
}

.g-cl-start-4 {
    grid-column-start: 4;
}

.g-cl-start-5 {
    grid-column-start: 5;
}

.g-cl-start-6 {
    grid-column-start: 6;
}

.g-cl-start-7 {
    grid-column-start: 7;
}

.g-cl-start-8 {
    grid-column-start: 8;
}

.g-cl-start-9 {
    grid-column-start: 9;
}

.g-cl-start-10 {
    grid-column-start: 10;
}

.g-cl-start-11 {
    grid-column-start: 11;
}

.g-cl-start-12 {
    grid-column-start: 12;
}

.g-cl-start-13 {
    grid-column-start: 13;
}

.g-cl-start-auto {
    grid-column-start: auto;
}

.g-cl-end-1 {
    grid-column-end: 1;
}

.g-cl-end-2 {
    grid-column-end: 2;
}

.g-cl-end-3 {
    grid-column-end: 3;
}

.g-cl-end-4 {
    grid-column-end: 4;
}

.g-cl-end-5 {
    grid-column-end: 5;
}

.g-cl-end-6 {
    grid-column-end: 6;
}

.g-cl-end-7 {
    grid-column-end: 7;
}

.g-cl-end-8 {
    grid-column-end: 8;
}

.g-cl-end-9 {
    grid-column-end: 9;
}

.g-cl-end-10 {
    grid-column-end: 10;
}

.g-cl-end-11 {
    grid-column-end: 11;
}

.g-cl-end-12 {
    grid-column-end: 12;
}

.g-cl-end-13 {
    grid-column-end: 13;
}

.g-cl-end-auto {
    grid-column-end: auto;
}

@media (min-width: 768px) {
    .g-cl-md-auto {
        grid-column: auto;
    }
    
    .g-cl-md-span-1 {
        grid-column: span 1 / span 1;
    }
    
    .g-cl-md-span-2 {
        grid-column: span 2 / span 2;
    }
    
    .g-cl-md-span-3 {
        grid-column: span 3 / span 3;
    }
    
    .g-cl-md-span-4 {
        grid-column: span 4 / span 4;
    }
    
    .g-cl-md-span-5 {
        grid-column: span 5 / span 5;
    }
    
    .g-cl-md-span-6 {
        grid-column: span 6 / span 6;
    }
    
    .g-cl-md-span-7 {
        grid-column: span 7 / span 7;
    }
    
    .g-cl-md-span-8 {
        grid-column: span 8 / span 8;
    }
    
    .g-cl-md-span-9 {
        grid-column: span 9 / span 9;
    }
    
    .g-cl-md-span-10 {
        grid-column: span 10 / span 10;
    }
    
    .g-cl-md-span-11 {
        grid-column: span 11 / span 11;
    }
    
    .g-cl-md-span-12 {
        grid-column: span 12 / span 12;
    }
    
    .g-cl-md-span-full {
        grid-column: 1 / -1;
    }
    
    .g-cl-md-start-1 {
        grid-column-start: 1;
    }
    
    .g-cl-md-start-2 {
        grid-column-start: 2;
    }
    
    .g-cl-md-start-3 {
        grid-column-start: 3;
    }
    
    .g-cl-md-start-4 {
        grid-column-start: 4;
    }
    
    .g-cl-md-start-5 {
        grid-column-start: 5;
    }
    
    .g-cl-md-start-6 {
        grid-column-start: 6;
    }
    
    .g-cl-md-start-7 {
        grid-column-start: 7;
    }
    
    .g-cl-md-start-8 {
        grid-column-start: 8;
    }
    
    .g-cl-md-start-9 {
        grid-column-start: 9;
    }
    
    .g-cl-md-start-10 {
        grid-column-start: 10;
    }
    
    .g-cl-md-start-11 {
        grid-column-start: 11;
    }
    
    .g-cl-md-start-12 {
        grid-column-start: 12;
    }
    
    .g-cl-md-start-13 {
        grid-column-start: 13;
    }
    
    .g-cl-md-start-auto {
        grid-column-start: auto;
    }
    
    .g-cl-md-end-1 {
        grid-column-end: 1;
    }
    
    .g-cl-md-end-2 {
        grid-column-end: 2;
    }
    
    .g-cl-md-end-3 {
        grid-column-end: 3;
    }
    
    .g-cl-md-end-4 {
        grid-column-end: 4;
    }
    
    .g-cl-md-end-5 {
        grid-column-end: 5;
    }
    
    .g-cl-md-end-6 {
        grid-column-end: 6;
    }
    
    .g-cl-md-end-7 {
        grid-column-end: 7;
    }
    
    .g-cl-md-end-8 {
        grid-column-end: 8;
    }
    
    .g-cl-md-end-9 {
        grid-column-end: 9;
    }
    
    .g-cl-md-end-10 {
        grid-column-end: 10;
    }
    
    .g-cl-md-end-11 {
        grid-column-end: 11;
    }
    
    .g-cl-md-end-12 {
        grid-column-end: 12;
    }
    
    .g-cl-md-end-13 {
        grid-column-end: 13;
    }
    
    .g-cl-md-end-auto {
        grid-column-end: auto;
    }    
}

@media (min-width: 992px) {
    .g-cl-lg-auto {
        grid-column: auto;
    }
    
    .g-cl-lg-span-1 {
        grid-column: span 1 / span 1;
    }
    
    .g-cl-lg-span-2 {
        grid-column: span 2 / span 2;
    }
    
    .g-cl-lg-span-3 {
        grid-column: span 3 / span 3;
    }
    
    .g-cl-lg-span-4 {
        grid-column: span 4 / span 4;
    }
    
    .g-cl-lg-span-5 {
        grid-column: span 5 / span 5;
    }
    
    .g-cl-lg-span-6 {
        grid-column: span 6 / span 6;
    }
    
    .g-cl-lg-span-7 {
        grid-column: span 7 / span 7;
    }
    
    .g-cl-lg-span-8 {
        grid-column: span 8 / span 8;
    }
    
    .g-cl-lg-span-9 {
        grid-column: span 9 / span 9;
    }
    
    .g-cl-lg-span-10 {
        grid-column: span 10 / span 10;
    }
    
    .g-cl-lg-span-11 {
        grid-column: span 11 / span 11;
    }
    
    .g-cl-lg-span-12 {
        grid-column: span 12 / span 12;
    }
    
    .g-cl-lg-span-full {
        grid-column: 1 / -1;
    }
    
    .g-cl-lg-start-1 {
        grid-column-start: 1;
    }
    
    .g-cl-lg-start-2 {
        grid-column-start: 2;
    }
    
    .g-cl-lg-start-3 {
        grid-column-start: 3;
    }
    
    .g-cl-lg-start-4 {
        grid-column-start: 4;
    }
    
    .g-cl-lg-start-5 {
        grid-column-start: 5;
    }
    
    .g-cl-lg-start-6 {
        grid-column-start: 6;
    }
    
    .g-cl-lg-start-7 {
        grid-column-start: 7;
    }
    
    .g-cl-lg-start-8 {
        grid-column-start: 8;
    }
    
    .g-cl-lg-start-9 {
        grid-column-start: 9;
    }
    
    .g-cl-lg-start-10 {
        grid-column-start: 10;
    }
    
    .g-cl-lg-start-11 {
        grid-column-start: 11;
    }
    
    .g-cl-lg-start-12 {
        grid-column-start: 12;
    }
    
    .g-cl-lg-start-13 {
        grid-column-start: 13;
    }
    
    .g-cl-lg-start-auto {
        grid-column-start: auto;
    }
    
    .g-cl-lg-end-1 {
        grid-column-end: 1;
    }
    
    .g-cl-lg-end-2 {
        grid-column-end: 2;
    }
    
    .g-cl-lg-end-3 {
        grid-column-end: 3;
    }
    
    .g-cl-lg-end-4 {
        grid-column-end: 4;
    }
    
    .g-cl-lg-end-5 {
        grid-column-end: 5;
    }
    
    .g-cl-lg-end-6 {
        grid-column-end: 6;
    }
    
    .g-cl-lg-end-7 {
        grid-column-end: 7;
    }
    
    .g-cl-lg-end-8 {
        grid-column-end: 8;
    }
    
    .g-cl-lg-end-9 {
        grid-column-end: 9;
    }
    
    .g-cl-lg-end-10 {
        grid-column-end: 10;
    }
    
    .g-cl-lg-end-11 {
        grid-column-end: 11;
    }
    
    .g-cl-lg-end-12 {
        grid-column-end: 12;
    }
    
    .g-cl-lg-end-13 {
        grid-column-end: 13;
    }
    
    .g-cl-lg-end-auto {
        grid-column-end: auto;
    }    
}

.gap-1 {
    gap: .25rem;
}

.gap-x-1 {
    column-gap: .25rem;
}

.gap-y-1 {
    row-gap: .25rem;
}

.gap-2 {
    gap: .5rem;
}

.gap-x-2 {
    column-gap: .5rem;
}

.gap-y-2 {
    row-gap: .5rem;
}

.gap-3 {
    gap: .75rem;
}

.gap-x-3 {
    column-gap: .75rem;
}

.gap-y-3 {
    row-gap: .75rem;
}

.gap-4 {
    gap: 1rem;
}

.gap-x-4 {
    column-gap: 1rem;
}

.gap-y-4 {
    row-gap: 1rem;
}

.gap-5 {
    gap: 1.25rem;
}

.gap-x-5 {
    column-gap: 1.25rem;
}

.gap-y-5 {
    row-gap: 1.25rem;
}

.gap-6 {
    gap: 1.5rem;
}

.gap-x-6 {
    column-gap: 1.5rem;
}

.gap-y-6 {
    row-gap: 1.5rem;
}

.gap-9 {
    gap: 2.25rem;
}

.gap-x-9 {
    column-gap: 2.25rem;
}

.gap-y-9 {
    row-gap: 2.25rem;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-items-start {
    justify-items: start;
}

.justify-items-end {
    justify-items: end;
}

.justify-items-center {
    justify-items: center;
}

.justify-items-stretch {
    justify-items: stretch;
}

.content-center {
    align-content: center;
}

.content-start {
    align-content: flex-start;
}

.content-end {
    align-content: flex-end;
}

.content-between {
    align-content: space-between;
}

.content-around {
    align-content: space-around;
}

.content-evenly {
    align-content: space-evenly;
}

.items-start {
    align-items: flex-start;
}

.items-end {
    align-items: flex-end;
}

.items-center {
    align-items: center;
}

.items-baseline {
    align-items: baseline;
}

.items-stretch {
    align-items: stretch;
}

.self-auto {
    align-self: auto;
}

.self-start {
    align-self: flex-start;
}

.self-end {
    align-self: flex-end;
}

.self-center {
    align-self: center;
}

.self-stretch {
    align-self: stretch;
}

.self-baseline {
    align-self: baseline;
}

.place-content-center {
    place-content: center;
}

.place-content-start {
    place-content: start;
}

.place-content-end {
    place-content: end;
}

.place-content-between {
    place-content: space-between;
}

.place-content-around {
    place-content: space-around;
}

.place-content-evenly {
    place-content: space-evenly;
}

.place-content-stretch {
    place-content: stretch;
}

.place-items-start {
    place-items: start;
}

.place-items-end {
    place-items: end;
}

.place-items-center {
    place-items: center;
}

.place-items-stretch {
    place-items: stretch;
}

.place-self-auto {
    place-self: auto;
}

.place-self-start {
    place-self: start;
}

.place-self-end {
    place-self: end;
}

.place-self-center {
    place-self: center;
}

.place-self-stretch {
    place-self: stretch;
}

.p-1 {
    padding: .25rem;
}

.p-x-1 {
    padding-right: .25rem;
    padding-left: .25rem;
}

.p-y-1 {
    padding-top: .25rem;
    padding-bottom: .25rem;
}

.p-t-1 {
    padding-top: .25rem;
}

.p-r-1 {
    padding-right: .25rem;
}

.p-b-1 {
    padding-bottom: .25rem;
}

.p-l-1 {
    padding-left: .25rem;
}

.p-2 {
    padding: .5rem;
}

.p-x-2 {
    padding-right: .5rem;
    padding-left: .5rem;
}

.p-y-2 {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.p-t-2 {
    padding-top: .5rem;
}

.p-r-2 {
    padding-right: .5rem;
}

.p-b-2 {
    padding-bottom: .5rem;
}

.p-l-2 {
    padding-left: .5rem;
}

.p-3 {
    padding: .75rem;
}

.p-x-3 {
    padding-right: .75rem;
    padding-left: .75rem;
}

.p-y-3 {
    padding-top: .75rem;
    padding-bottom: .75rem;
}

.p-t-3 {
    padding-top: .75rem;
}

.p-r-3 {
    padding-right: .75rem;
}

.p-b-3 {
    padding-bottom: .75rem;
}

.p-l-3 {
    padding-left: .75rem;
}

.p-4 {
    padding: 1rem;
}

.p-x-4 {
    padding-right: 1rem;
    padding-left: 1rem;
}

.p-y-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.p-t-4 {
    padding-top: 1rem;
}

.p-r-4 {
    padding-right: 1rem;
}

.p-b-4 {
    padding-bottom: 1rem;
}

.p-l-4 {
    padding-left: 1rem;
}

.p-5 {
    padding: 1.25rem;
}

.p-x-5 {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
}

.p-y-5 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.p-t-5 {
    padding-top: 1.25rem;
}

.p-r-5 {
    padding-right: 1.25rem;
}

.p-b-5 {
    padding-bottom: 1.25rem;
}

.p-l-5 {
    padding-left: 1.25rem;
}

.p-6 {
    padding: 1.5rem;
}

.p-x-6 {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.p-y-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.p-t-6 {
    padding-top: 1.5rem;
}

.p-r-6 {
    padding-right: 1.5rem;
}

.p-b-6 {
    padding-bottom: 1.5rem;
}

.p-l-6 {
    padding-left: 1.5rem;
}

.p-9 {
    padding: 2.25rem;
}

.p-x-9 {
    padding-right: 2.25rem;
    padding-left: 2.25rem;
}

.p-y-9 {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
}

.p-t-9 {
    padding-top: 2.25rem;
}

.p-r-9 {
    padding-right: 2.25rem;
}

.p-b-9 {
    padding-bottom: 2.25rem;
}

.p-l-9 {
    padding-left: 2.25rem;
}

.p-12 {
    padding: 3rem;
}

.p-x-12 {
    padding-right: 3rem;
    padding-left: 3rem;
}

.p-y-12 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.p-t-12 {
    padding-top: 3rem;
}

.p-r-12 {
    padding-right: 3rem;
}

.p-b-12 {
    padding-bottom: 3rem;
}

.p-l-12 {
    padding-left: 3rem;
}

.p-15 {
    padding: 3.75rem;
}

.p-x-15 {
    padding-right: 3.75rem;
    padding-left: 3.75rem;
}

.p-y-15 {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
}

.p-t-15 {
    padding-top: 3.75rem;
}

.p-r-15 {
    padding-right: 3.75rem;
}

.p-b-15 {
    padding-bottom: 3.75rem;
}

.p-l-15 {
    padding-left: 3.75rem;
}

.p-18 {
    padding: 4.5rem;
}

.p-x-18 {
    padding-right: 4.5rem;
    padding-left: 4.5rem;
}

.p-y-18 {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
}

.p-t-18 {
    padding-top: 4.5rem;
}

.p-r-18 {
    padding-right: 4.5rem;
}

.p-b-18 {
    padding-bottom: 4.5rem;
}

.p-l-18 {
    padding-left: 4.5rem;
}

.p-21 {
    padding: 5.25rem;
}

.p-x-21 {
    padding-right: 5.25rem;
    padding-left: 5.25rem;
}

.p-y-21 {
    padding-top: 5.25rem;
    padding-bottom: 5.25rem;
}

.p-t-21 {
    padding-top: 5.25rem;
}

.p-r-21 {
    padding-right: 5.25rem;
}

.p-b-21 {
    padding-bottom: 5.25rem;
}

.p-l-21 {
    padding-left: 5.25rem;
}

.p-24 {
    padding: 6rem;
}

.p-x-24 {
    padding-right: 6rem;
    padding-left: 6rem;
}

.p-y-24 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.p-t-24 {
    padding-top: 6rem;
}

.p-r-24 {
    padding-right: 6rem;
}

.p-b-24 {
    padding-bottom: 6rem;
}

.p-l-24 {
    padding-left: 6rem;
}

.p-27 {
    padding: 6.75rem;
}

.p-x-27 {
    padding-right: 6.75rem;
    padding-left: 6.75rem;
}

.p-y-27 {
    padding-top: 6.75rem;
    padding-bottom: 6.75rem;
}

.p-t-27 {
    padding-top: 6.75rem;
}

.p-r-27 {
    padding-right: 6.75rem;
}

.p-b-27 {
    padding-bottom: 6.75rem;
}

.p-l-27 {
    padding-left: 6.75rem;
}

.p-30 {
    padding: 7.5rem;
}

.p-x-30 {
    padding-right: 7.5rem;
    padding-left: 7.5rem;
}

.p-y-30 {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
}

.p-t-30 {
    padding-top: 7.5rem;
}

.p-r-30 {
    padding-right: 7.5rem;
}

.p-b-30 {
    padding-bottom: 7.5rem;
}

.p-l-30 {
    padding-left: 7.5rem;
}

@media (min-width: 768px) {
    .p-md-1 {
        padding: .25rem;
    }
    
    .p-x-md-1 {
        padding-right: .25rem;
        padding-left: .25rem;
    }
    
    .p-y-md-1 {
        padding-top: .25rem;
        padding-bottom: .25rem;
    }
    
    .p-t-md-1 {
        padding-top: .25rem;
    }
    
    .p-r-md-1 {
        padding-right: .25rem;
    }
    
    .p-b-md-1 {
        padding-bottom: .25rem;
    }
    
    .p-l-md-1 {
        padding-left: .25rem;
    }
    
    .p-md-2 {
        padding: .5rem;
    }
    
    .p-x-md-2 {
        padding-right: .5rem;
        padding-left: .5rem;
    }
    
    .p-y-md-2 {
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
    
    .p-t-md-2 {
        padding-top: .5rem;
    }
    
    .p-r-md-2 {
        padding-right: .5rem;
    }
    
    .p-b-md-2 {
        padding-bottom: .5rem;
    }
    
    .p-l-md-2 {
        padding-left: .5rem;
    }
    
    .p-md-3 {
        padding: .75rem;
    }
    
    .p-x-md-3 {
        padding-right: .75rem;
        padding-left: .75rem;
    }
    
    .p-y-md-3 {
        padding-top: .75rem;
        padding-bottom: .75rem;
    }
    
    .p-t-md-3 {
        padding-top: .75rem;
    }
    
    .p-r-md-3 {
        padding-right: .75rem;
    }
    
    .p-b-md-3 {
        padding-bottom: .75rem;
    }
    
    .p-l-md-3 {
        padding-left: .75rem;
    }
    
    .p-md-4 {
        padding: 1rem;
    }
    
    .p-x-md-4 {
        padding-right: 1rem;
        padding-left: 1rem;
    }
    
    .p-y-md-4 {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    
    .p-t-md-4 {
        padding-top: 1rem;
    }
    
    .p-r-md-4 {
        padding-right: 1rem;
    }
    
    .p-b-md-4 {
        padding-bottom: 1rem;
    }
    
    .p-l-md-4 {
        padding-left: 1rem;
    }
    
    .p-md-5 {
        padding: 1.25rem;
    }
    
    .p-x-md-5 {
        padding-right: 1.25rem;
        padding-left: 1.25rem;
    }
    
    .p-y-md-5 {
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
    }
    
    .p-t-md-5 {
        padding-top: 1.25rem;
    }
    
    .p-r-md-5 {
        padding-right: 1.25rem;
    }
    
    .p-b-md-5 {
        padding-bottom: 1.25rem;
    }
    
    .p-l-md-5 {
        padding-left: 1.25rem;
    }
    
    .p-md-6 {
        padding: 1.5rem;
    }
    
    .p-x-md-6 {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
    
    .p-y-md-6 {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    
    .p-t-md-6 {
        padding-top: 1.5rem;
    }
    
    .p-r-md-6 {
        padding-right: 1.5rem;
    }
    
    .p-b-md-6 {
        padding-bottom: 1.5rem;
    }
    
    .p-l-md-6 {
        padding-left: 1.5rem;
    }
    
    .p-md-9 {
        padding: 2.25rem;
    }
    
    .p-x-md-9 {
        padding-right: 2.25rem;
        padding-left: 2.25rem;
    }
    
    .p-y-md-9 {
        padding-top: 2.25rem;
        padding-bottom: 2.25rem;
    }
    
    .p-t-md-9 {
        padding-top: 2.25rem;
    }
    
    .p-r-md-9 {
        padding-right: 2.25rem;
    }
    
    .p-b-md-9 {
        padding-bottom: 2.25rem;
    }
    
    .p-l-md-9 {
        padding-left: 2.25rem;
    }
    
    .p-md-12 {
        padding: 3rem;
    }
    
    .p-x-md-12 {
        padding-right: 3rem;
        padding-left: 3rem;
    }
    
    .p-y-md-12 {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    
    .p-t-md-12 {
        padding-top: 3rem;
    }
    
    .p-r-md-12 {
        padding-right: 3rem;
    }
    
    .p-b-md-12 {
        padding-bottom: 3rem;
    }
    
    .p-l-md-12 {
        padding-left: 3rem;
    }
    
    .p-md-15 {
        padding: 3.75rem;
    }
    
    .p-x-md-15 {
        padding-right: 3.75rem;
        padding-left: 3.75rem;
    }
    
    .p-y-md-15 {
        padding-top: 3.75rem;
        padding-bottom: 3.75rem;
    }
    
    .p-t-md-15 {
        padding-top: 3.75rem;
    }
    
    .p-r-md-15 {
        padding-right: 3.75rem;
    }
    
    .p-b-md-15 {
        padding-bottom: 3.75rem;
    }
    
    .p-l-md-15 {
        padding-left: 3.75rem;
    }
    
    .p-md-18 {
        padding: 4.5rem;
    }
    
    .p-x-md-18 {
        padding-right: 4.5rem;
        padding-left: 4.5rem;
    }
    
    .p-y-md-18 {
        padding-top: 4.5rem;
        padding-bottom: 4.5rem;
    }
    
    .p-t-md-18 {
        padding-top: 4.5rem;
    }
    
    .p-r-md-18 {
        padding-right: 4.5rem;
    }
    
    .p-b-md-18 {
        padding-bottom: 4.5rem;
    }
    
    .p-l-md-18 {
        padding-left: 4.5rem;
    }
    
    .p-md-21 {
        padding: 5.25rem;
    }
    
    .p-x-md-21 {
        padding-right: 5.25rem;
        padding-left: 5.25rem;
    }
    
    .p-y-md-21 {
        padding-top: 5.25rem;
        padding-bottom: 5.25rem;
    }
    
    .p-t-md-21 {
        padding-top: 5.25rem;
    }
    
    .p-r-md-21 {
        padding-right: 5.25rem;
    }
    
    .p-b-md-21 {
        padding-bottom: 5.25rem;
    }
    
    .p-l-md-21 {
        padding-left: 5.25rem;
    }
    
    .p-md-24 {
        padding: 6rem;
    }
    
    .p-x-md-24 {
        padding-right: 6rem;
        padding-left: 6rem;
    }
    
    .p-y-md-24 {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
    
    .p-t-md-24 {
        padding-top: 6rem;
    }
    
    .p-r-md-24 {
        padding-right: 6rem;
    }
    
    .p-b-md-24 {
        padding-bottom: 6rem;
    }
    
    .p-l-md-24 {
        padding-left: 6rem;
    }
    
    .p-md-27 {
        padding: 6.75rem;
    }
    
    .p-x-md-27 {
        padding-right: 6.75rem;
        padding-left: 6.75rem;
    }
    
    .p-y-md-27 {
        padding-top: 6.75rem;
        padding-bottom: 6.75rem;
    }
    
    .p-t-md-27 {
        padding-top: 6.75rem;
    }
    
    .p-r-md-27 {
        padding-right: 6.75rem;
    }
    
    .p-b-md-27 {
        padding-bottom: 6.75rem;
    }
    
    .p-l-md-27 {
        padding-left: 6.75rem;
    }
    
    .p-md-30 {
        padding: 7.5rem;
    }
    
    .p-x-md-30 {
        padding-right: 7.5rem;
        padding-left: 7.5rem;
    }
    
    .p-y-md-30 {
        padding-top: 7.5rem;
        padding-bottom: 7.5rem;
    }
    
    .p-t-md-30 {
        padding-top: 7.5rem;
    }
    
    .p-r-md-30 {
        padding-right: 7.5rem;
    }
    
    .p-b-md-30 {
        padding-bottom: 7.5rem;
    }
    
    .p-l-md-30 {
        padding-left: 7.5rem;
    }
}

@media (min-width: 992px) {
    .p-lg-1 {
        padding: .25rem;
    }
    
    .p-x-lg-1 {
        padding-right: .25rem;
        padding-left: .25rem;
    }
    
    .p-y-lg-1 {
        padding-top: .25rem;
        padding-bottom: .25rem;
    }
    
    .p-t-lg-1 {
        padding-top: .25rem;
    }
    
    .p-r-lg-1 {
        padding-right: .25rem;
    }
    
    .p-b-lg-1 {
        padding-bottom: .25rem;
    }
    
    .p-l-lg-1 {
        padding-left: .25rem;
    }
    
    .p-lg-2 {
        padding: .5rem;
    }
    
    .p-x-lg-2 {
        padding-right: .5rem;
        padding-left: .5rem;
    }
    
    .p-y-lg-2 {
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
    
    .p-t-lg-2 {
        padding-top: .5rem;
    }
    
    .p-r-lg-2 {
        padding-right: .5rem;
    }
    
    .p-b-lg-2 {
        padding-bottom: .5rem;
    }
    
    .p-l-lg-2 {
        padding-left: .5rem;
    }
    
    .p-lg-3 {
        padding: .75rem;
    }
    
    .p-x-lg-3 {
        padding-right: .75rem;
        padding-left: .75rem;
    }
    
    .p-y-lg-3 {
        padding-top: .75rem;
        padding-bottom: .75rem;
    }
    
    .p-t-lg-3 {
        padding-top: .75rem;
    }
    
    .p-r-lg-3 {
        padding-right: .75rem;
    }
    
    .p-b-lg-3 {
        padding-bottom: .75rem;
    }
    
    .p-l-lg-3 {
        padding-left: .75rem;
    }
    
    .p-lg-4 {
        padding: 1rem;
    }
    
    .p-x-lg-4 {
        padding-right: 1rem;
        padding-left: 1rem;
    }
    
    .p-y-lg-4 {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    
    .p-t-lg-4 {
        padding-top: 1rem;
    }
    
    .p-r-lg-4 {
        padding-right: 1rem;
    }
    
    .p-b-lg-4 {
        padding-bottom: 1rem;
    }
    
    .p-l-lg-4 {
        padding-left: 1rem;
    }
    
    .p-lg-5 {
        padding: 1.25rem;
    }
    
    .p-x-lg-5 {
        padding-right: 1.25rem;
        padding-left: 1.25rem;
    }
    
    .p-y-lg-5 {
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
    }
    
    .p-t-lg-5 {
        padding-top: 1.25rem;
    }
    
    .p-r-lg-5 {
        padding-right: 1.25rem;
    }
    
    .p-b-lg-5 {
        padding-bottom: 1.25rem;
    }
    
    .p-l-lg-5 {
        padding-left: 1.25rem;
    }
    
    .p-lg-6 {
        padding: 1.5rem;
    }
    
    .p-x-lg-6 {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
    
    .p-y-lg-6 {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    
    .p-t-lg-6 {
        padding-top: 1.5rem;
    }
    
    .p-r-lg-6 {
        padding-right: 1.5rem;
    }
    
    .p-b-lg-6 {
        padding-bottom: 1.5rem;
    }
    
    .p-l-lg-6 {
        padding-left: 1.5rem;
    }
    
    .p-lg-9 {
        padding: 2.25rem;
    }
    
    .p-x-lg-9 {
        padding-right: 2.25rem;
        padding-left: 2.25rem;
    }
    
    .p-y-lg-9 {
        padding-top: 2.25rem;
        padding-bottom: 2.25rem;
    }
    
    .p-t-lg-9 {
        padding-top: 2.25rem;
    }
    
    .p-r-lg-9 {
        padding-right: 2.25rem;
    }
    
    .p-b-lg-9 {
        padding-bottom: 2.25rem;
    }
    
    .p-l-lg-9 {
        padding-left: 2.25rem;
    }
    
    .p-lg-12 {
        padding: 3rem;
    }
    
    .p-x-lg-12 {
        padding-right: 3rem;
        padding-left: 3rem;
    }
    
    .p-y-lg-12 {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    
    .p-t-lg-12 {
        padding-top: 3rem;
    }
    
    .p-r-lg-12 {
        padding-right: 3rem;
    }
    
    .p-b-lg-12 {
        padding-bottom: 3rem;
    }
    
    .p-l-lg-12 {
        padding-left: 3rem;
    }
    
    .p-lg-15 {
        padding: 3.75rem;
    }
    
    .p-x-lg-15 {
        padding-right: 3.75rem;
        padding-left: 3.75rem;
    }
    
    .p-y-lg-15 {
        padding-top: 3.75rem;
        padding-bottom: 3.75rem;
    }
    
    .p-t-lg-15 {
        padding-top: 3.75rem;
    }
    
    .p-r-lg-15 {
        padding-right: 3.75rem;
    }
    
    .p-b-lg-15 {
        padding-bottom: 3.75rem;
    }
    
    .p-l-lg-15 {
        padding-left: 3.75rem;
    }
    
    .p-lg-18 {
        padding: 4.5rem;
    }
    
    .p-x-lg-18 {
        padding-right: 4.5rem;
        padding-left: 4.5rem;
    }
    
    .p-y-lg-18 {
        padding-top: 4.5rem;
        padding-bottom: 4.5rem;
    }
    
    .p-t-lg-18 {
        padding-top: 4.5rem;
    }
    
    .p-r-lg-18 {
        padding-right: 4.5rem;
    }
    
    .p-b-lg-18 {
        padding-bottom: 4.5rem;
    }
    
    .p-l-lg-18 {
        padding-left: 4.5rem;
    }
    
    .p-lg-21 {
        padding: 5.25rem;
    }
    
    .p-x-lg-21 {
        padding-right: 5.25rem;
        padding-left: 5.25rem;
    }
    
    .p-y-lg-21 {
        padding-top: 5.25rem;
        padding-bottom: 5.25rem;
    }
    
    .p-t-lg-21 {
        padding-top: 5.25rem;
    }
    
    .p-r-lg-21 {
        padding-right: 5.25rem;
    }
    
    .p-b-lg-21 {
        padding-bottom: 5.25rem;
    }
    
    .p-l-lg-21 {
        padding-left: 5.25rem;
    }
    
    .p-lg-24 {
        padding: 6rem;
    }
    
    .p-x-lg-24 {
        padding-right: 6rem;
        padding-left: 6rem;
    }
    
    .p-y-lg-24 {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
    
    .p-t-lg-24 {
        padding-top: 6rem;
    }
    
    .p-r-lg-24 {
        padding-right: 6rem;
    }
    
    .p-b-lg-24 {
        padding-bottom: 6rem;
    }
    
    .p-l-lg-24 {
        padding-left: 6rem;
    }
    
    .p-lg-27 {
        padding: 6.75rem;
    }
    
    .p-x-lg-27 {
        padding-right: 6.75rem;
        padding-left: 6.75rem;
    }
    
    .p-y-lg-27 {
        padding-top: 6.75rem;
        padding-bottom: 6.75rem;
    }
    
    .p-t-lg-27 {
        padding-top: 6.75rem;
    }
    
    .p-r-lg-27 {
        padding-right: 6.75rem;
    }
    
    .p-b-lg-27 {
        padding-bottom: 6.75rem;
    }
    
    .p-l-lg-27 {
        padding-left: 6.75rem;
    }
    
    .p-lg-30 {
        padding: 7.5rem;
    }
    
    .p-x-lg-30 {
        padding-right: 7.5rem;
        padding-left: 7.5rem;
    }
    
    .p-y-lg-30 {
        padding-top: 7.5rem;
        padding-bottom: 7.5rem;
    }
    
    .p-t-lg-30 {
        padding-top: 7.5rem;
    }
    
    .p-r-lg-30 {
        padding-right: 7.5rem;
    }
    
    .p-b-lg-30 {
        padding-bottom: 7.5rem;
    }
    
    .p-l-lg-30 {
        padding-left: 7.5rem;
    }
}

.m-1 {
    margin: .25rem;
}

.m-x-1 {
    margin-right: .25rem;
    margin-left: .25rem;
}

.m-y-1 {
    margin-top: .25rem;
    margin-bottom: .25rem;
}

.m-t-1 {
    margin-top: .25rem;
}

.m-r-1 {
    margin-right: .25rem;
}

.m-b-1 {
    margin-bottom: .25rem;
}

.m-l-1 {
    margin-left: .25rem;
}

.m-2 {
    margin: .5rem;
}

.m-x-2 {
    margin-right: .5rem;
    margin-left: .5rem;
}

.m-y-2 {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.m-t-2 {
    margin-top: .5rem;
}

.m-r-2 {
    margin-right: .5rem;
}

.m-b-2 {
    margin-bottom: .5rem;
}

.m-l-2 {
    margin-left: .5rem;
}

.m-3 {
    margin: .75rem;
}

.m-x-3 {
    margin-right: .75rem;
    margin-left: .75rem;
}

.m-y-3 {
    margin-top: .75rem;
    margin-bottom: .75rem;
}

.m-t-3 {
    margin-top: .75rem;
}

.m-r-3 {
    margin-right: .75rem;
}

.m-b-3 {
    margin-bottom: .75rem;
}

.m-l-3 {
    margin-left: .75rem;
}

.m-4 {
    margin: 1rem;
}

.m-x-4 {
    margin-right: 1rem;
    margin-left: 1rem;
}

.m-y-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.m-t-4 {
    margin-top: 1rem;
}

.m-r-4 {
    margin-right: 1rem;
}

.m-b-4 {
    margin-bottom: 1rem;
}

.m-l-4 {
    margin-left: 1rem;
}

.m-5 {
    margin: 1.25rem;
}

.m-x-5 {
    margin-right: 1.25rem;
    margin-left: 1.25rem;
}

.m-y-5 {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.m-t-5 {
    margin-top: 1.25rem;
}

.m-r-5 {
    margin-right: 1.25rem;
}

.m-b-5 {
    margin-bottom: 1.25rem;
}

.m-l-5 {
    margin-left: 1.25rem;
}

.m-6 {
    margin: 1.5rem;
}

.m-x-6 {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

.m-y-6 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.m-t-6 {
    margin-top: 1.5rem;
}

.m-r-6 {
    margin-right: 1.5rem;
}

.m-b-6 {
    margin-bottom: 1.5rem;
}

.m-l-6 {
    margin-left: 1.5rem;
}

.m-9 {
    margin: 2.25rem;
}

.m-x-9 {
    margin-right: 2.25rem;
    margin-left: 2.25rem;
}

.m-y-9 {
    margin-top: 2.25rem;
    margin-bottom: 2.25rem;
}

.m-t-9 {
    margin-top: 2.25rem;
}

.m-r-9 {
    margin-right: 2.25rem;
}

.m-b-9 {
    margin-bottom: 2.25rem;
}

.m-l-9 {
    margin-left: 2.25rem;
}

.m-12 {
    margin: 3rem;
}

.m-x-12 {
    margin-right: 3rem;
    margin-left: 3rem;
}

.m-y-12 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.m-t-12 {
    margin-top: 3rem;
}

.m-r-12 {
    margin-right: 3rem;
}

.m-b-12 {
    margin-bottom: 3rem;
}

.m-l-12 {
    margin-left: 3rem;
}

.m-15 {
    margin: 3.75rem;
}

.m-x-15 {
    margin-right: 3.75rem;
    margin-left: 3.75rem;
}

.m-y-15 {
    margin-top: 3.75rem;
    margin-bottom: 3.75rem;
}

.m-t-15 {
    margin-top: 3.75rem;
}

.m-r-15 {
    margin-right: 3.75rem;
}

.m-b-15 {
    margin-bottom: 3.75rem;
}

.m-l-15 {
    margin-left: 3.75rem;
}

.m-18 {
    margin: 4.5rem;
}

.m-x-18 {
    margin-right: 4.5rem;
    margin-left: 4.5rem;
}

.m-y-18 {
    margin-top: 4.5rem;
    margin-bottom: 4.5rem;
}

.m-t-18 {
    margin-top: 4.5rem;
}

.m-r-18 {
    margin-right: 4.5rem;
}

.m-b-18 {
    margin-bottom: 4.5rem;
}

.m-l-18 {
    margin-left: 4.5rem;
}

.m-21 {
    margin: 5.25rem;
}

.m-x-21 {
    margin-right: 5.25rem;
    margin-left: 5.25rem;
}

.m-y-21 {
    margin-top: 5.25rem;
    margin-bottom: 5.25rem;
}

.m-t-21 {
    margin-top: 5.25rem;
}

.m-r-21 {
    margin-right: 5.25rem;
}

.m-b-21 {
    margin-bottom: 5.25rem;
}

.m-l-21 {
    margin-left: 5.25rem;
}

.m-24 {
    margin: 6rem;
}

.m-x-24 {
    margin-right: 6rem;
    margin-left: 6rem;
}

.m-y-24 {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.m-t-24 {
    margin-top: 6rem;
}

.m-r-24 {
    margin-right: 6rem;
}

.m-b-24 {
    margin-bottom: 6rem;
}

.m-l-24 {
    margin-left: 6rem;
}

.m-27 {
    margin: 6.75rem;
}

.m-x-27 {
    margin-right: 6.75rem;
    margin-left: 6.75rem;
}

.m-y-27 {
    margin-top: 6.75rem;
    margin-bottom: 6.75rem;
}

.m-t-27 {
    margin-top: 6.75rem;
}

.m-r-27 {
    margin-right: 6.75rem;
}

.m-b-27 {
    margin-bottom: 6.75rem;
}

.m-l-27 {
    margin-left: 6.75rem;
}

.m-30 {
    margin: 7.5rem;
}

.m-x-30 {
    margin-right: 7.5rem;
    margin-left: 7.5rem;
}

.m-y-30 {
    margin-top: 7.5rem;
    margin-bottom: 7.5rem;
}

.m-t-30 {
    margin-top: 7.5rem;
}

.m-r-30 {
    margin-right: 7.5rem;
}

.m-b-30 {
    margin-bottom: 7.5rem;
}

.m-l-30 {
    margin-left: 7.5rem;
}

@media (min-width: 768px) {
    .m-md-1 {
        margin: .25rem;
    }
    
    .m-x-md-1 {
        margin-right: .25rem;
        margin-left: .25rem;
    }
    
    .m-y-md-1 {
        margin-top: .25rem;
        margin-bottom: .25rem;
    }
    
    .m-t-md-1 {
        margin-top: .25rem;
    }
    
    .m-r-md-1 {
        margin-right: .25rem;
    }
    
    .m-b-md-1 {
        margin-bottom: .25rem;
    }
    
    .m-l-md-1 {
        margin-left: .25rem;
    }
    
    .m-md-2 {
        margin: .5rem;
    }
    
    .m-x-md-2 {
        margin-right: .5rem;
        margin-left: .5rem;
    }
    
    .m-y-md-2 {
        margin-top: .5rem;
        margin-bottom: .5rem;
    }
    
    .m-t-md-2 {
        margin-top: .5rem;
    }
    
    .m-r-md-2 {
        margin-right: .5rem;
    }
    
    .m-b-md-2 {
        margin-bottom: .5rem;
    }
    
    .m-l-md-2 {
        margin-left: .5rem;
    }
    
    .m-md-3 {
        margin: .75rem;
    }
    
    .m-x-md-3 {
        margin-right: .75rem;
        margin-left: .75rem;
    }
    
    .m-y-md-3 {
        margin-top: .75rem;
        margin-bottom: .75rem;
    }
    
    .m-t-md-3 {
        margin-top: .75rem;
    }
    
    .m-r-md-3 {
        margin-right: .75rem;
    }
    
    .m-b-md-3 {
        margin-bottom: .75rem;
    }
    
    .m-l-md-3 {
        margin-left: .75rem;
    }
    
    .m-md-4 {
        margin: 1rem;
    }
    
    .m-x-md-4 {
        margin-right: 1rem;
        margin-left: 1rem;
    }
    
    .m-y-md-4 {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
    .m-t-md-4 {
        margin-top: 1rem;
    }
    
    .m-r-md-4 {
        margin-right: 1rem;
    }
    
    .m-b-md-4 {
        margin-bottom: 1rem;
    }
    
    .m-l-md-4 {
        margin-left: 1rem;
    }
    
    .m-md-5 {
        margin: 1.25rem;
    }
    
    .m-x-md-5 {
        margin-right: 1.25rem;
        margin-left: 1.25rem;
    }
    
    .m-y-md-5 {
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
    }
    
    .m-t-md-5 {
        margin-top: 1.25rem;
    }
    
    .m-r-md-5 {
        margin-right: 1.25rem;
    }
    
    .m-b-md-5 {
        margin-bottom: 1.25rem;
    }
    
    .m-l-md-5 {
        margin-left: 1.25rem;
    }
    
    .m-md-6 {
        margin: 1.5rem;
    }
    
    .m-x-md-6 {
        margin-right: 1.5rem;
        margin-left: 1.5rem;
    }
    
    .m-y-md-6 {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
    
    .m-t-md-6 {
        margin-top: 1.5rem;
    }
    
    .m-r-md-6 {
        margin-right: 1.5rem;
    }
    
    .m-b-md-6 {
        margin-bottom: 1.5rem;
    }
    
    .m-l-md-6 {
        margin-left: 1.5rem;
    }
    
    .m-md-9 {
        margin: 2.25rem;
    }
    
    .m-x-md-9 {
        margin-right: 2.25rem;
        margin-left: 2.25rem;
    }
    
    .m-y-md-9 {
        margin-top: 2.25rem;
        margin-bottom: 2.25rem;
    }
    
    .m-t-md-9 {
        margin-top: 2.25rem;
    }
    
    .m-r-md-9 {
        margin-right: 2.25rem;
    }
    
    .m-b-md-9 {
        margin-bottom: 2.25rem;
    }
    
    .m-l-md-9 {
        margin-left: 2.25rem;
    }
    
    .m-md-12 {
        margin: 3rem;
    }
    
    .m-x-md-12 {
        margin-right: 3rem;
        margin-left: 3rem;
    }
    
    .m-y-md-12 {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    
    .m-t-md-12 {
        margin-top: 3rem;
    }
    
    .m-r-md-12 {
        margin-right: 3rem;
    }
    
    .m-b-md-12 {
        margin-bottom: 3rem;
    }
    
    .m-l-md-12 {
        margin-left: 3rem;
    }
    
    .m-md-15 {
        margin: 3.75rem;
    }
    
    .m-x-md-15 {
        margin-right: 3.75rem;
        margin-left: 3.75rem;
    }
    
    .m-y-md-15 {
        margin-top: 3.75rem;
        margin-bottom: 3.75rem;
    }
    
    .m-t-md-15 {
        margin-top: 3.75rem;
    }
    
    .m-r-md-15 {
        margin-right: 3.75rem;
    }
    
    .m-b-md-15 {
        margin-bottom: 3.75rem;
    }
    
    .m-l-md-15 {
        margin-left: 3.75rem;
    }
    
    .m-md-18 {
        margin: 4.5rem;
    }
    
    .m-x-md-18 {
        margin-right: 4.5rem;
        margin-left: 4.5rem;
    }
    
    .m-y-md-18 {
        margin-top: 4.5rem;
        margin-bottom: 4.5rem;
    }
    
    .m-t-md-18 {
        margin-top: 4.5rem;
    }
    
    .m-r-md-18 {
        margin-right: 4.5rem;
    }
    
    .m-b-md-18 {
        margin-bottom: 4.5rem;
    }
    
    .m-l-md-18 {
        margin-left: 4.5rem;
    }
    
    .m-md-21 {
        margin: 5.25rem;
    }
    
    .m-x-md-21 {
        margin-right: 5.25rem;
        margin-left: 5.25rem;
    }
    
    .m-y-md-21 {
        margin-top: 5.25rem;
        margin-bottom: 5.25rem;
    }
    
    .m-t-md-21 {
        margin-top: 5.25rem;
    }
    
    .m-r-md-21 {
        margin-right: 5.25rem;
    }
    
    .m-b-md-21 {
        margin-bottom: 5.25rem;
    }
    
    .m-l-md-21 {
        margin-left: 5.25rem;
    }
    
    .m-md-24 {
        margin: 6rem;
    }
    
    .m-x-md-24 {
        margin-right: 6rem;
        margin-left: 6rem;
    }
    
    .m-y-md-24 {
        margin-top: 6rem;
        margin-bottom: 6rem;
    }
    
    .m-t-md-24 {
        margin-top: 6rem;
    }
    
    .m-r-md-24 {
        margin-right: 6rem;
    }
    
    .m-b-md-24 {
        margin-bottom: 6rem;
    }
    
    .m-l-md-24 {
        margin-left: 6rem;
    }
    
    .m-md-27 {
        margin: 6.75rem;
    }
    
    .m-x-md-27 {
        margin-right: 6.75rem;
        margin-left: 6.75rem;
    }
    
    .m-y-md-27 {
        margin-top: 6.75rem;
        margin-bottom: 6.75rem;
    }
    
    .m-t-md-27 {
        margin-top: 6.75rem;
    }
    
    .m-r-md-27 {
        margin-right: 6.75rem;
    }
    
    .m-b-md-27 {
        margin-bottom: 6.75rem;
    }
    
    .m-l-md-27 {
        margin-left: 6.75rem;
    }
    
    .m-md-30 {
        margin: 7.5rem;
    }
    
    .m-x-md-30 {
        margin-right: 7.5rem;
        margin-left: 7.5rem;
    }
    
    .m-y-md-30 {
        margin-top: 7.5rem;
        margin-bottom: 7.5rem;
    }
    
    .m-t-md-30 {
        margin-top: 7.5rem;
    }
    
    .m-r-md-30 {
        margin-right: 7.5rem;
    }
    
    .m-b-md-30 {
        margin-bottom: 7.5rem;
    }
    
    .m-l-md-30 {
        margin-left: 7.5rem;
    }
}

@media (min-width: 992px) {
    .m-lg-1 {
        margin: .25rem;
    }
    
    .m-x-lg-1 {
        margin-right: .25rem;
        margin-left: .25rem;
    }
    
    .m-y-lg-1 {
        margin-top: .25rem;
        margin-bottom: .25rem;
    }
    
    .m-t-lg-1 {
        margin-top: .25rem;
    }
    
    .m-r-lg-1 {
        margin-right: .25rem;
    }
    
    .m-b-lg-1 {
        margin-bottom: .25rem;
    }
    
    .m-l-lg-1 {
        margin-left: .25rem;
    }
    
    .m-lg-2 {
        margin: .5rem;
    }
    
    .m-x-lg-2 {
        margin-right: .5rem;
        margin-left: .5rem;
    }
    
    .m-y-lg-2 {
        margin-top: .5rem;
        margin-bottom: .5rem;
    }
    
    .m-t-lg-2 {
        margin-top: .5rem;
    }
    
    .m-r-lg-2 {
        margin-right: .5rem;
    }
    
    .m-b-lg-2 {
        margin-bottom: .5rem;
    }
    
    .m-l-lg-2 {
        margin-left: .5rem;
    }
    
    .m-lg-3 {
        margin: .75rem;
    }
    
    .m-x-lg-3 {
        margin-right: .75rem;
        margin-left: .75rem;
    }
    
    .m-y-lg-3 {
        margin-top: .75rem;
        margin-bottom: .75rem;
    }
    
    .m-t-lg-3 {
        margin-top: .75rem;
    }
    
    .m-r-lg-3 {
        margin-right: .75rem;
    }
    
    .m-b-lg-3 {
        margin-bottom: .75rem;
    }
    
    .m-l-lg-3 {
        margin-left: .75rem;
    }
    
    .m-lg-4 {
        margin: 1rem;
    }
    
    .m-x-lg-4 {
        margin-right: 1rem;
        margin-left: 1rem;
    }
    
    .m-y-lg-4 {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
    .m-t-lg-4 {
        margin-top: 1rem;
    }
    
    .m-r-lg-4 {
        margin-right: 1rem;
    }
    
    .m-b-lg-4 {
        margin-bottom: 1rem;
    }
    
    .m-l-lg-4 {
        margin-left: 1rem;
    }
    
    .m-lg-5 {
        margin: 1.25rem;
    }
    
    .m-x-lg-5 {
        margin-right: 1.25rem;
        margin-left: 1.25rem;
    }
    
    .m-y-lg-5 {
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
    }
    
    .m-t-lg-5 {
        margin-top: 1.25rem;
    }
    
    .m-r-lg-5 {
        margin-right: 1.25rem;
    }
    
    .m-b-lg-5 {
        margin-bottom: 1.25rem;
    }
    
    .m-l-lg-5 {
        margin-left: 1.25rem;
    }
    
    .m-lg-6 {
        margin: 1.5rem;
    }
    
    .m-x-lg-6 {
        margin-right: 1.5rem;
        margin-left: 1.5rem;
    }
    
    .m-y-lg-6 {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
    
    .m-t-lg-6 {
        margin-top: 1.5rem;
    }
    
    .m-r-lg-6 {
        margin-right: 1.5rem;
    }
    
    .m-b-lg-6 {
        margin-bottom: 1.5rem;
    }
    
    .m-l-lg-6 {
        margin-left: 1.5rem;
    }
    
    .m-lg-9 {
        margin: 2.25rem;
    }
    
    .m-x-lg-9 {
        margin-right: 2.25rem;
        margin-left: 2.25rem;
    }
    
    .m-y-lg-9 {
        margin-top: 2.25rem;
        margin-bottom: 2.25rem;
    }
    
    .m-t-lg-9 {
        margin-top: 2.25rem;
    }
    
    .m-r-lg-9 {
        margin-right: 2.25rem;
    }
    
    .m-b-lg-9 {
        margin-bottom: 2.25rem;
    }
    
    .m-l-lg-9 {
        margin-left: 2.25rem;
    }
    
    .m-lg-12 {
        margin: 3rem;
    }
    
    .m-x-lg-12 {
        margin-right: 3rem;
        margin-left: 3rem;
    }
    
    .m-y-lg-12 {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    
    .m-t-lg-12 {
        margin-top: 3rem;
    }
    
    .m-r-lg-12 {
        margin-right: 3rem;
    }
    
    .m-b-lg-12 {
        margin-bottom: 3rem;
    }
    
    .m-l-lg-12 {
        margin-left: 3rem;
    }
    
    .m-lg-15 {
        margin: 3.75rem;
    }
    
    .m-x-lg-15 {
        margin-right: 3.75rem;
        margin-left: 3.75rem;
    }
    
    .m-y-lg-15 {
        margin-top: 3.75rem;
        margin-bottom: 3.75rem;
    }
    
    .m-t-lg-15 {
        margin-top: 3.75rem;
    }
    
    .m-r-lg-15 {
        margin-right: 3.75rem;
    }
    
    .m-b-lg-15 {
        margin-bottom: 3.75rem;
    }
    
    .m-l-lg-15 {
        margin-left: 3.75rem;
    }
    
    .m-lg-18 {
        margin: 4.5rem;
    }
    
    .m-x-lg-18 {
        margin-right: 4.5rem;
        margin-left: 4.5rem;
    }
    
    .m-y-lg-18 {
        margin-top: 4.5rem;
        margin-bottom: 4.5rem;
    }
    
    .m-t-lg-18 {
        margin-top: 4.5rem;
    }
    
    .m-r-lg-18 {
        margin-right: 4.5rem;
    }
    
    .m-b-lg-18 {
        margin-bottom: 4.5rem;
    }
    
    .m-l-lg-18 {
        margin-left: 4.5rem;
    }
    
    .m-lg-21 {
        margin: 5.25rem;
    }
    
    .m-x-lg-21 {
        margin-right: 5.25rem;
        margin-left: 5.25rem;
    }
    
    .m-y-lg-21 {
        margin-top: 5.25rem;
        margin-bottom: 5.25rem;
    }
    
    .m-t-lg-21 {
        margin-top: 5.25rem;
    }
    
    .m-r-lg-21 {
        margin-right: 5.25rem;
    }
    
    .m-b-lg-21 {
        margin-bottom: 5.25rem;
    }
    
    .m-l-lg-21 {
        margin-left: 5.25rem;
    }
    
    .m-lg-24 {
        margin: 6rem;
    }
    
    .m-x-lg-24 {
        margin-right: 6rem;
        margin-left: 6rem;
    }
    
    .m-y-lg-24 {
        margin-top: 6rem;
        margin-bottom: 6rem;
    }
    
    .m-t-lg-24 {
        margin-top: 6rem;
    }
    
    .m-r-lg-24 {
        margin-right: 6rem;
    }
    
    .m-b-lg-24 {
        margin-bottom: 6rem;
    }
    
    .m-l-lg-24 {
        margin-left: 6rem;
    }
    
    .m-lg-27 {
        margin: 6.75rem;
    }
    
    .m-x-lg-27 {
        margin-right: 6.75rem;
        margin-left: 6.75rem;
    }
    
    .m-y-lg-27 {
        margin-top: 6.75rem;
        margin-bottom: 6.75rem;
    }
    
    .m-t-lg-27 {
        margin-top: 6.75rem;
    }
    
    .m-r-lg-27 {
        margin-right: 6.75rem;
    }
    
    .m-b-lg-27 {
        margin-bottom: 6.75rem;
    }
    
    .m-l-lg-27 {
        margin-left: 6.75rem;
    }
    
    .m-lg-30 {
        margin: 7.5rem;
    }
    
    .m-x-lg-30 {
        margin-right: 7.5rem;
        margin-left: 7.5rem;
    }
    
    .m-y-lg-30 {
        margin-top: 7.5rem;
        margin-bottom: 7.5rem;
    }
    
    .m-t-lg-30 {
        margin-top: 7.5rem;
    }
    
    .m-r-lg-30 {
        margin-right: 7.5rem;
    }
    
    .m-b-lg-30 {
        margin-bottom: 7.5rem;
    }
    
    .m-l-lg-30 {
        margin-left: 7.5rem;
    }
}