---
layout: default
---
<div class="scope-surface">
    {% include masters/site-navigation.html %}

    <div class="surface-content">
        <header class="mb-lg-3">
            <div class="container-md">
                <div class="d-grid grid-lg-portfolio gap-y-1">
                    <div class="container-sm no-gutters">
                        <time class="d-block text-sm font-interface weight-500 leading-1 text-gray-600">{{ page.date | date: "%b %d, %Y" }}</time>
                        <h1 class="text-heading-3 font-interface weight-600 leading-2 mb-lg-1">{{ page.headline | escape }}</h1>    
                    </div>         
                </div>                
                <div class="d-grid grid-lg-portfolio gap-y-2 gap-x-3">
                    <div class="container-sm no-gutters">
                        <div class="text-lg font-content leading-1 page-description">
                            {{ page.description | markdownify }}
                        </div>
                    </div>
                    <div class="container-sm no-gutters">                      
                        <div class="border-1 border-solid border-gray-200 mx-auto">
                            <div class="p-lg-1">
                                <dl class="d-grid grid-md-descriptions mb-sm-3 mb-last">
                                    <dt class="text-sm font-interface weight-500 leading-1">Category</dt>
                                    <dd class="text-sm font-interface leading-1 text-gray-600">{{ page.categories }}</dd>
                                </dl>
                                <dl class="d-grid grid-md-descriptions mb-sm-3 mb-last">
                                    <dt class="text-sm font-interface weight-500 leading-1">Discipline</dt>
                                    <dd class="text-sm font-interface leading-1 text-gray-600">{{ page.discipline }}</dd>
                                </dl>
                            </div>
                        </div>       
                    </div>          
                </div>
            </div>
        </header>
    </div>
    <div id="portfolio-viewport" class="py-lg-5 bg-monochrome-1">
        {{ content }}
    </div>
    {% include masters/site-footer.html %}
</div>