<!doctype html>
{%- assign cache_bust = site.time | date:'?v=%s' %}
<!--
    🛠️ Hello Kaiel build {{ cache_bust | remove: '?v=' }}
    🐉 Abandon all hope, ye who enter here. Here be dragons.
-->
<html lang="en-US" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>
            {%- if page.path contains '_posts' -%}
                {{ page.title }} | Hello Kaiel 
            {%- else -%}
                Hello Kaiel
            {%- endif -%}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

        <link rel="apple-touch-icon" sizes="180x180" href="{{ 'public/apple-touch-icon.png?v=2' | relative_url }}">
        <link rel="icon" type="image/svg+xml" href="{{ 'public/favicon.svg?v=2' | relative_url }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ 'public/favicon-32x32.png?v=2' | relative_url }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ 'public/favicon-16x16.png?v=2' | relative_url }}">
        <link rel="manifest" href="{{ 'public/site.webmanifest?v=2' | relative_url }}">
        <link rel="mask-icon" href="{{ 'public/safari-pinned-tab.svg?v=2' | relative_url }}" color="#212121">
        <link rel="shortcut icon" href="{{ 'public/favicon.ico?v=2' | relative_url }}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{{ "/assets/css/stylesheet.min.css" | relative_url | append: cache_bust }}">
        <link rel="stylesheet" href="{{ 'assets/css/vendors/flickity.min.css' | relative_url }}">

        <meta name="msapplication-TileColor" content="#f5f5f5">
        <meta name="msapplication-config" content="{{ 'public/browserconfig.xml?v=2' | relative_url }}">
        <meta name="theme-color" content="#eeeeee">        
    </head>
    <body class="default-theme">
        
        {{ content }}

        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://d3js.org/d3.v7.min.js"></script>
        <script src="{{ 'assets/js/vendors/flickity.pkgd.min.js' | relative_url }}"></script>
        <script src="{{ '/assets/js/main.min.js' | relative_url }}"></script>
        {%- if page.layout == "entries/project" -%}
        <script src="{{ 'assets/js/project.min.js' | relative_url }}"></script>
        {%- endif -%}        
    </body>
</html>