<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <title>
        {%- if page.url == "/index.html" -%}
            Hello Kaiel
        {%- else -%}
            {{ page.title }} | Hello Kaiel
        {%- endif -%}            
        </title>
        <meta name="description" content="{{ site.description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" sizes="180x180" href="{{ 'public/apple-touch-icon.png?v=2' | relative_url }}">
        <link rel="icon" type="image/svg+xml" href="{{ 'public/favicon.svg?v=2' | relative_url }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ 'public/favicon-32x32.png?v=2' | relative_url }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ 'public/favicon-16x16.png?v=2' | relative_url }}">
        <link rel="manifest" href="{{ 'public/site.webmanifest?v=2' | relative_url }}">
        <link rel="mask-icon" href="{{ 'public/safari-pinned-tab.svg?v=2' | relative_url }}" color="#212121">
        <link rel="shortcut icon" href="{{ 'public/favicon.ico?v=2' | relative_url }}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link rel="preload" href="{{ 'assets/fonts/154444/HelveticaNowVar.woff2' | relative_url }}" as="font" type="font/woff2" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">
        
        <link rel="stylesheet" href="{{ 'assets/fonts/154444/154444.min.css' | relative_url }}">

        <link rel="stylesheet" href="{{ 'assets/css/vendors/flickity.min.css' | relative_url }}">
        <link rel="stylesheet" href="{{ 'assets/css/style.min.css?v=91221' | relative_url }}">

        <meta name="msapplication-TileColor" content="#f5f5f5">
        <meta name="msapplication-config" content="{{ 'public/browserconfig.xml?v=2' | relative_url }}">
        <meta name="theme-color" content="#eeeeee">        
    </head>
    <body>
        {{ content }}

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="{{ 'assets/js/vendors/flickity.pkgd.min.js' | relative_url }}"></script>
        {%- if page.layout == "project/portfolio" -%}
        <script src="{{ 'assets/js/portfolio.min.js' | relative_url }}"></script>
        {%- endif -%}
    </body>
</html>
